.forgot {
  background: url(./img/lynx_landing.png), url(./img/background_in_space.png);
  background-repeat: no-repeat, repeat;
  box-sizing: inherit;
  background-position: left bottom, center center;
  width: 100%;
  height: 100vh;
  &-form {
    background-color: white;
    padding: 70px;
    border-radius: 10px;
  }
  @media (max-width: 468px) {
    &-form {
      padding: 30px;
    }
  }
}

.name-button-browse {
  padding: 15px 25px 15px 25px;
  background-color: #282a35;
  color: white;
  border-radius: 23px;
  margin: 17px 0px 17px 0px;
  font-size: 15px;
  font-stretch: normal;
  font-style: normal;
  font-weight: 600;
  @media (max-width: 468px) {
    padding: 10px 25px 10px 25px;
    font-size: 0.8rem;
  }
}

.name-button-browse:hover {
  background-color: #5a9f45;
  transition: 0.3s linear;
}
.intro-search-input {
  @media (max-width: 470px) {
    input {
      width: 29vh;
    }
  }
}

.hide {
  @media (max-width: 696px) {
    display: none;
  }
}

.hiden {
  @media (min-width: 697px) {
    display: none;
  }
}
