@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "'Source Sans Pro Topnav', sans-serif";
  src: url("./assert/font/source-sans-pro/SourceSansPro-Semibold.otf")
    format("opentype");
}

:root {
  line-height: 1.5;
  font-weight: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  left: 0;
  right: 0;
  width: 100%;
}

#root{
  width: 100%;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

@media (prefers-color-scheme: light) {
  :root {
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

:root {
  --green-w3: #059862;
  --light-green-w3: #d9eee1;
  --white-green-w3: #d9eee1;
  --yellow-w3: #fff4a3;
  --light-black-w3: #282a35;
  --light-pink-w3: #f3ecea;
  --light-blue-w3: #96d4d4;
}