.auth {
  background: url(./img/lynx_landing.png), url(./img/background_in_space.png);
  background-repeat: no-repeat, repeat;
  box-sizing: inherit;
  background-position: left bottom, center center;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  &-panel {
    background-color: white;
    animation-duration: 2s;
    animation-name: changeShadow;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }
}

@keyframes changeShadow {
  from {
    box-shadow: 0px 4px 8px black;
  }
  to {
    box-shadow: 1px 2px 12px yellow;
  }
}

.ant-tabs-nav-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.ant-tabs-tab {
  width: 50%;
  justify-content: center;
}

.intro-search-input {
  @media (max-width: 468px) {
    input {
      width: 30vh;
    }
  }
}
